
<ul id="navbar">
	  <li><%= link_to "Home", home_path %></li>
	  <li><%= link_to "Schools", home_path %></li>
	  <li><%= link_to "Bookings", new_api_booking_path %></li>
	  <li><%= link_to "Employees", api_employees_path %></li>
	  <li><%= link_to "Calendar", calendar_path %></li>
	</ul>