<ul id="navbar">
	  <li><%= link_to "Home", home_path %></li>
	  <li><%= link_to "Schools", schools_path %></li>
	  <li><%= link_to "Bookings", bookings_path %></li>
	  <li><%= link_to "Employees", home_path %></li>
	  <li><%= link_to "Calendar", '/bookings/by_day' %></li>
	</ul>