<ul id="navbar">
	  <li><%= link_to "Home", home_path %></li>
	  <li><%= link_to "Schools", new_school_path %></li>
	  <li><%= link_to "Bookings", new_booking_path %></li>
	  <li><%= link_to "Employees", home_path %></li>
	  <li><%= link_to "Calendar", home_path %></li>
	</ul>